body {
  background-color: #dddad6; }

  h1 {
    text-align: center;
    color: #f9f1b5;
    padding: 25px;
    font-family: comic;
    text-shadow: 1px 1px #001F3F;
    font-size: 350%; }

    #box {
      background: #ae9c96;
      color: #ae9c96;
      padding: 10px;
      padding-bottom: 3px;
      border-radius: 10px;
      font-size: 125%;
      margin: 10px 150px 10px 150px;
    }

      #box p {
        color: #ffffff;
        margin: 0px 50px 0px 50px;
        padding: 2px; }

        section {
          margin: 15px;
          border: 1px solid #ae9c96;
          background-color: #a6d8de;
          text-align: center;
          margin: 0px 125px 0px 125px;
          padding: 15px; }

          footer {
            text-align: center;
            position: bottom;
            padding: 20px;
            background: #111111;
            color: #FFFFFF;
            }

            button {
              background-color: #a6d8de;
              display:block;
              color: #111111; }

              a {
                color: #ffffff;
                text-decoration: none; }
#ratings {
  color: #f9f1b5;
  text-align:center;
  padding-bottom:3px;
}

h3 {
  padding-bottom:3px;
}

#sb {
  background-color: #ae9c96 !important;
  color: #f9f1b5;
}

#pics {
  display:inline;
}

.btn btn-default navbar-btn {
  display:inline;
}

#title {
  text-align:center;
}

span {
  color:#111111;
  margin:0px !important;
  padding:0px !important;
}

.page-header {
  text-align: center;
}

#footer {
  text-align: center;
  position: bottom;
  padding: 20px;
}

#label {
  color:#111111 !important;
  float:right;
  display:inline-block;
  font-size: 90%;
  margin-left:0px;
}

.panel{
  margin: 0px 200px 0px 200px;
  display:inline;
  float:left;
  padding:0px;
}
.panel-body {
  text-align:center;
  font-size:75%;
  margin:0px !important;
  padding:0px !important;
  background-color: #F0F8FF;
}

h4 {
  text-align:center;
}
