body {
  background-color: #dddad6; }

  h1 {
    text-align: center;
    color: #f9f1b5;
    padding: 25px;
    padding-bottom:0;
    font-family: comic;
    text-shadow: 1px 1px #001F3F;
    font-size: 350%; }

    #box {
      background: #ae9c96;
      color: #ae9c96;
      padding: 10px;
      padding-bottom: 3px;
      border-radius: 10px;
      font-size: 125%;
      margin: 10px 250px 10px 250px;
    }

    .row {
      margin-right: 0% !important;
      margin-left: 55% !important;
      margin-top: -3%;
    }


      #box p {
        color: #ffffff;
        margin: 0px 10px 0px 10px;
        padding: 2px; }

        section {
          border: 1px solid #ae9c96;
          background-color: #a6d8de;
          text-align: center;
          margin: 0px 18% 0 18%;
          width: 64%;
          padding: 30px;
          }

          label {
            font-size: 18px;
            text-decoration: underline;
            padding-bottom: 3px;
            float:left;
          }

          footer {
            text-align: center;
            position: bottom;
            padding: 20px;
            background: #111111;
            color: #FFFFFF;
            }

            button {
              background-color: #a6d8de;
              display:block;
              color: #111111; }

              a {
                color: #ffffff;
                text-decoration: none; }
#ratings {
  color: #f9f1b5;
  font-weight:bold;
  text-align:center;
  padding-bottom:3px;
}

h3 {
  padding-bottom:3px;
}

#sb {
  background-color: #ae9c96 !important;
  color: #f9f1b5;
}

div#frame {
  padding: 15px 0;
  margin-bottom: 35px;
}

#pics {
  display:inline;
  margin:10px;
}

.r-button {
  background: #f5f5f5;
  color:black;
  margin-left:22%;
  margin-top: 15px;
  display:inline;
  border-radius: .25em;
  text-align: center;
  padding: .4em;
  font-family:comic;
  font-size:95%;
  border-top: none;
  border-left: none;
  border-right: .065em #006400 solid;
  border-bottom: .065em #006400 solid;
}

.r-button:hover {
  background-color: #a6d8de;
  color:black;
}

#title {
  text-align:center;
  color: #f9f1b5 !important;
  border-bottom:1px solid #e1e1e1;
  padding-bottom:8px;
}

#sub-title {
  color: #f9f1b5 !important;
  margin-left: 22% !important;
  margin-top: -21% !important;
}

span {
  color:#111111;
  margin:0px !important;
  padding:0px !important;
}

.page-header {
  text-align: center;
}

#footer {
  text-align: center;
  position: bottom;
  padding: 20px;
}

#label {
  color:#111111 !important;
  float:right;
  display:inline;
  font-size: 90%;
  margin-left:0px;
}

.panel{
  display:inline;
  float:right;
  padding:0px;
  margin:5px;
}

.panel.panel-default {
  margin-top:-130px;
}

.panel-body {
  text-align:center;
  font-size:75%;
  margin:0px !important;
  padding:0px !important;
  background-color: #F0F8FF;
}

h4 {
  text-align:center;
}

#top {
  display:inline;
}


/* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    body {
      width: 1200px;
      margin: 3% auto;
    }

    }
