<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eat This</title>
  <script src="../bower_components/angular/angular.js"></script>
</head>
<body>
    <div data-ng-app="eatApp">
      <div data-ng-controller="eatCtrl">

  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Search Great Recipes</h1>
      <p>Search over 350,000 recipes and easily customize the ingredients you want!</p>
    </div>
  </div>
        <form>
          <label for='signUp'> Recipe search</label>
          <input type='text' data-ng-model="eat.food" id='signUp' placeholder="chile">
        </form>

        <button data-ng-click="getRecipeJson()">Search Now</button>
      </div>
      <div class="col-xs-4">
        <p> Results: {{eat.test}} </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <footer>
          <p>&copy; 2015 Brent Parrish</p>
        </footer>
      </div>
    </div>
  </div>
  <script src="js/controllers/eatCtrls.js"></script>
</body>
</html>
