<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='css/main.css' rel=stylesheet>
  <title></title>
</head>
<bod>
  <h1>Eat this, not that!</h1>
  <button><a href="http://bparrish.com">Brent's Page</a></button>
  <div data-ng-app="mmmApp">
    <div data-ng-controller="mmmCtrl" data-ng-init="index()">
      <section>
        <label>Enter a food item to search for:</label></br>
        <input type="text" data-ng-model="mmm.food"/>
        <button id="sb" data-ng-click="search()">Search</button>
      </section>
    </br>
  </br>
  <div id="box" ng-repeat="obj in searchObj" data-ng-show='view == "show"'>
    <p id="title">{{mmm.food}} - {{obj.Title}}</p>
    <img id="pics" ng-src="{{obj.ImageURL120}}" />
    <button data-ng-click="recipe(obj.RecipeID)">Recipe</button>
    <p ng-repeat="ing in ings">{{ing.Name}} {{ing.Quantity}} {{ing.MetricUnit}}</p>
    <p><span>{{title}}</span></p>
    <p>{{inst}}</p>
    <h3 id="ratings">Star rating: {{obj.StarRating}} </h3>
  </div>
</div>
</div>
</div>
</div>
<script src="client_bundle.js"></script>
<footer> This app is still a work in progress.  I'm using the bigOven API to do a simple recipe search. It will soon have filters to look healthy alternatives. I'm using Node, Angular and Browserify.</footer>

</body>
</html>
