<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='css/main.css' rel=stylesheet>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://bparrish.com">Brent's Page</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="jumbotron">
  <h1>Eat this</h1>
  <div class="page-header">
  <p>An app for finding quick interesting new recipes.</p>
</div>
  <div data-ng-app="mmmApp">
    <div data-ng-controller="mmmCtrl">
      <section>
        <label>Enter a dish or food item to search recipes:</label></br>
        <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." data-ng-model="mmm.food"/>
          <span class="input-group-btn">
            <button class="btn btn-default" data-ng-click="search()">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
      </section>
    </br>
  </br>
  <div id="box" ng-repeat="obj in searchObj | filter:'!http://redirect.bigoven.com/pics/rs/120/recipe-no-image.jpg' |orderBy:'StarRating' : !reverse" data-ng-show='view == "show"'>
    <p id="title">{{mmm.food}} - {{obj.Title}}</p>
    <img id="pics" ng-src="{{obj.ImageURL120}}" />
    <div class="panel panel-default" style="width:400px" ng-show="obj.RecipeID == clicked">
      <div class="panel-heading" style="width:400px">
    <h4 ng-show="obj.RecipeID == clicked">{{label}}</h4>
  </div>
        <div class="panel-body" style="width:400px; min-height: 10; max-height: 10" ng-repeat="ing in ings" ng-show="obj.RecipeID == clicked">
        <p ng-show="obj.RecipeID == clicked"><span>{{ing.Name}} {{ing.Quantity}} {{ing.MetricUnit}}</span></p>
      </div>
    </div>
    <button class="btn btn-default navbar-btn" data-ng-click="recipe(obj.RecipeID)">Recipe</button>
    <p ng-show="obj.RecipeID == clicked"><span>{{title}}</span></p>
    <p ng-show="obj.RecipeID == clicked">{{inst}}</p>
    <h3 id="ratings">Star rating: {{obj.StarRating}} </h3>
  </div>
</div>
</div>
</div>
</div>
<script src="client_bundle.js"></script>
<p id="footer"> This app is still a work in progress.  I'm using the bigOven API to do a simple recipe search. It will soon have filters to look healthy alternatives. I'm using Node, Angular, Browserify and Bootstrap.</p>
<footer><p>  &copy; 2015 Brent Parrish
</p></footer>
</body>
</html>
